<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Item">
	<resultMap id="ItemMap" type="Item">
        <id column="id" property="id"/>
        <result column="outer_id" property="outerId"/>
        <result column="name" property="name"/>
        <result column="main_image" property="mainImage"/>
        <result column="images" property="images"/>
        <result column="outer_url" property="outerUrl"/>
        <result column="origin_price" property="originPrice"/>
        <result column="selling_price" property="sellingPrice"/>
        <result column="currency_unit" property="currencyUnit"/>
        <result column="discount_percentage" property="discountPercentage"/>
        <result column="category_id" property="categoryId"/>
        <result column="outer_category_id" property="outerCategoryId"/>
        <result column="status" property="status"/>
        <result column="source" property="source"/>
        <result column="creator" property="creator"/>
        <result column="updater" property="updater"/>
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>
    
    <sql id="tb">
        ovc_items
    </sql>
    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>
    <sql id="cols_exclude_id">
        outer_id, name, main_image, images, outer_url, origin_price, selling_price, currency_unit, discount_percentage,
        category_id, outer_category_id, status, source, creator, updater, created_at, updated_at
    </sql>
    <sql id="vals">
        #{outerId}, #{name}, #{mainImage}, #{images}, #{outerUrl}, #{originPrice}, #{sellingPrice}, #{currencyUnit},
        #{discountPercentage}, #{categoryId}, #{outerCategoryId}, #{status}, #{source}, #{creator}, #{updater}
    </sql>
	
	<select id="findAtomicById" parameterType="long" resultMap="ItemMap" >
        SELECT id, outer_id, name, main_image, images, outer_url, origin_price, selling_price, currency_unit,
        category_id, outer_category_id, status, source
        FROM <include refid="tb"/> /
        WHERE id = #{id} LIMIT 1
    </select>
    
    <select id="load" parameterType="long" resultMap="ItemMap" >
        SELECT id, <include refid="cols_exclude_id"/> 
        FROM <include refid="tb"/> 
        WHERE id = #{id} LIMIT 1
    </select>
    
    <select id="findByOuterIdAndSource" parameterType="map" resultMap="ItemMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
       	WHERE  status = 1 
       	AND outer_id = #{outerId} 
       	AND source  = #{source }
       	LIMIT 1
    </select>
    
    <select id="countItemsForSearch" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        WHERE category_id IS NOT NULL
       	<if test="status != null"> AND status = #{status} </if>
    </select>
    
    <select id="findItemsForSearch" parameterType="map" resultMap="ItemMap" >
        SELECT id, outer_id, name, origin_price, selling_price, currency_unit, discount_percentage,
        category_id, outer_category_id, status, source, created_at, updated_at
        FROM <include refid="tb" />
       	WHERE category_id IS NOT NULL
       	<if test="status != null"> AND status = #{status} </if>
       	LIMIT #{offset}, #{limit}
    </select>
    
    <insert id="create" parameterType="Item" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />, now(), now())   
    </insert>
    
    <update id="update" parameterType="Item">
        UPDATE <include refid="tb"/>
        <set>
            <if test="outerId != null"> outer_id = #{outerId}, </if>
            <if test="name != null"> name = #{name}, </if>
            <if test="mainImage != null"> main_image = #{mainImage}, </if>
            <if test="images != null"> images = #{images}, </if>
            <if test="outerUrl != null"> outer_url = #{outerUrl}, </if>
            <if test="originPrice != null"> origin_price = #{originPrice}, </if>
            <if test="sellingPrice != null"> selling_price = #{sellingPrice}, </if>
            <if test="currencyUnit != null"> currency_unit = #{currencyUnit}, </if>
            <if test="discountPercentage != null"> discount_percentage = #{discountPercentage}, </if>
            <if test="categoryId != null"> category_id = #{categoryId}, </if>
            <if test="outerCategoryId != null"> outer_category_id = #{outerCategoryId}, </if>
            <if test="status != null"> status = #{status}, </if>
            <if test="source != null"> source = #{source}, </if>
            <if test="creator != null"> creator = #{creator}, </if>
            <if test="updater != null"> updater = #{updater}, </if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>
</mapper>